* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #0c254c;
  min-height: 100vh;
  background-color: #fffdf9;
  padding-right: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}
